In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
## Load the dataset
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
## Preprocess the data
### Drop irrelevant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
## Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
## onehot encoder "Geograph"
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo= OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[["Geography"]])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [6]:
onehot_encoder_geo.get_feature_names_out(["Geography"])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [7]:
geo_encoder_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(["Geography"]))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
## combine one hot encoder columns with original data
data= pd.concat([data.drop("Geography",axis=1),geo_encoder_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
#Decide the dataser into indepent and depenet features
X=data.drop('EstimatedSalary',axis=1)
y= data['EstimatedSalary']

In [10]:
#Spit the data in training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)


#Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [16]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [17]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [18]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()

In [19]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 14s 18ms/step - loss: 100359.5391 - mae: 100359.5391 - val_loss: 98420.5781 - val_mae: 98420.5781
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 13ms/step - loss: 99008.0781 - mae: 99008.0781 - val_loss: 96386.1562 - val_mae: 96386.1562
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 15ms/step - loss: 96587.5703 - mae: 96587.5703 - val_loss: 91372.7578 - val_mae: 91372.7578
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 19ms/step - loss: 92514.1953 - mae: 92514.1953 - val_loss: 83310.6094 - val_mae: 83310.6094
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 24ms/step - loss: 82045.4141 - mae: 82045.4141 - val_loss: 73639.5938 - val_mae: 73639.5938
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 20ms/step - loss: 71895.7266 - mae: 71895.7266 - val_loss: 64432.8633 - val_mae: 64432.8633
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 63213.4492 - mae: 63213.4492 - val_loss: 57333.7070 - val_mae: 57333.7070
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 27ms/step - loss: 56159.9180 - mae: 56159.9180 - val_loss: 53284.0938 - val_mae: 53284.0938
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 19ms/step - loss: 52356.8477 - mae: 52356.8477 - val_loss: 51534.9922 - val_mae: 51534.9922
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 50824.8516 - mae: 50824.8516 - val_loss: 50983.2383 - val_mae: 50983.2383
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 19ms/step - loss: 51028.2500 - mae: 51028.2500 - val_loss: 50855.5430 - val_mae: 50855.5430
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - loss: 50013.0000 - mae: 50013.0000 - val_loss: 50811.1641 - val_mae: 50811.1641
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 14ms/step - loss: 50227.6523 - mae: 50227.6523 - val_loss: 50786.1445 - val_mae: 50786.1445
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 18ms/step - loss: 50245.3633 - mae: 50245.3633 - val_loss: 50750.0703 - val_mae: 50750.0703
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 10ms/step - loss: 50524.9883 - mae: 50524.9883 - val_loss: 50713.8125 - val_mae: 50713.8125
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 19ms/step - loss: 50239.7031 - mae: 50239.7031 - val_loss: 50676.5312 - val_mae: 50676.5312
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49741.2578 - mae: 49741.2578 - val_loss: 50650.0156 - val_mae: 50650.0156
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 49677.7109 - mae: 49677.7109 - val_loss: 50620.0117 - val_mae: 50620.0117
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 13ms/step - loss: 49846.6250 - mae: 49846.6250 - val_loss: 50594.3164 - val_mae: 50594.3164
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - loss: 49635.9766 - mae: 49635.9766 - val_loss: 50578.3164 - val_mae: 50578.3164
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 18ms/step - loss: 49779.0508 - mae: 49779.0508 - val_loss: 50560.0586 - val_mae: 50560.0586
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 16ms/step - loss: 49428.7578 - mae: 49428.7578 - val_loss: 50542.8008 - val_mae: 50542.8008
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49559.2930 - mae: 49559.2930 - val_loss: 50525.7578 - val_mae: 50525.7578
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49658.5859 - mae: 49658.5859 - val_loss: 50523.6367 - val_mae: 50523.6367
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - loss: 49966.4414 - mae: 49966.4414 - val_loss: 50504.9336 - val_mae: 50504.9336
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49780.7109 - mae: 49780.7109 - val_loss: 50500.7031 - val_mae: 50500.7031
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 12ms/step - loss: 49661.6484 - mae: 49661.6484 - val_loss: 50489.2695 - val_mae: 50489.2695
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49522.9414 - mae: 49522.9414 - val_loss: 50465.5195 - val_mae: 50465.5195
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49339.5938 - mae: 49339.5938 - val_loss: 50463.4688 - val_mae: 50463.4688
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 49754.9922 - mae: 49754.9922 - val_loss: 50469.9805 - val_mae: 50469.9805
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 10ms/step - loss: 49880.6406 - mae: 49880.6406 - val_loss: 50449.2773 - val_mae: 50449.2773
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 10ms/step - loss: 49858.2695 - mae: 49858.2695 - val_loss: 50441.4844 - val_mae: 50441.4844
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49431.4258 - mae: 49431.4258 - val_loss: 50438.4531 - val_mae: 50438.4531
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49304.1680 - mae: 49304.1680 - val_loss: 50428.0391 - val_mae: 50428.0391
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 13ms/step - loss: 49597.2891 - mae: 49597.2891 - val_loss: 50426.9102 - val_mae: 50426.9102
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 49731.0078 - mae: 49731.0078 - val_loss: 50420.5781 - val_mae: 50420.5781
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - loss: 49550.3281 - mae: 49550.3281 - val_loss: 50420.8789 - val_mae: 50420.8789
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 49366.5703 - mae: 49366.5703 - val_loss: 50413.8945 - val_mae: 50413.8945
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 17ms/step - loss: 49081.5547 - mae: 49081.5547 - val_loss: 50415.1250 - val_mae: 50415.1250
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 49493.4258 - mae: 49493.4258 - val_loss: 50402.5117 - val_mae: 50402.5117
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 50202.3516 - mae: 50202.3516 - val_loss: 50395.8125 - val_mae: 50395.8125
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49171.0547 - mae: 49171.0547 - val_loss: 50396.4297 - val_mae: 50396.4297
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 50325.5664 - mae: 50325.5664 - val_loss: 50388.2969 - val_mae: 50388.2969
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 14ms/step - loss: 49903.4375 - mae: 49903.4375 - val_loss: 50384.9922 - val_mae: 50384.9922
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 18ms/step - loss: 49454.7188 - mae: 49454.7188 - val_loss: 50398.0508 - val_mae: 50398.0508
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 12ms/step - loss: 49645.6797 - mae: 49645.6797 - val_loss: 50386.6953 - val_mae: 50386.6953
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 10ms/step - loss: 49173.0391 - mae: 49173.0391 - val_loss: 50380.7305 - val_mae: 50380.7305
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49543.6641 - mae: 49543.6641 - val_loss: 50384.1328 - val_mae: 50384.1328
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 49743.2539 - mae: 49743.2539 - val_loss: 50374.7773 - val_mae: 50374.7773
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 18ms/step - loss: 49535.9883 - mae: 49535.9883 - val_loss: 50369.6523 - val_mae: 50369.6523
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 49050.5195 - mae: 49050.5195 - val_loss: 50370.5312 - val_mae: 50370.5312
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 50160.7344 - mae: 50160.7344 - val_loss: 50364.1484 - val_mae: 50364.1484
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 16ms/step - loss: 49388.5391 - mae: 49388.5391 - val_loss: 50362.4141 - val_mae: 50362.4141
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 12ms/step - loss: 49229.8789 - mae: 49229.8789 - val_loss: 50373.6797 - val_mae: 50373.6797
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 11ms/step - loss: 49281.1328 - mae: 49281.1328 - val_loss: 50361.8867 - val_mae: 50361.8867
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 14ms/step - loss: 49111.9805 - mae: 49111.9805 - val_loss: 50361.7227 - val_mae: 50361.7227
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 49100.8086 - mae: 49100.8086 - val_loss: 50359.9062 - val_mae: 50359.9062
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 48869.6992 - mae: 48869.6992 - val_loss: 50366.6367 - val_mae: 50366.6367
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 15ms/step - loss: 48844.4102 - mae: 48844.4102 - val_loss: 50375.8008 - val_mae: 50375.8008
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49141.6406 - mae: 49141.6406 - val_loss: 50375.2617 - val_mae: 50375.2617
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 49258.7422 - mae: 49258.7422 - val_loss: 50378.4844 - val_mae: 50378.4844
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 17ms/step - loss: 49574.0938 - mae: 49574.0938 - val_loss: 50376.7852 - val_mae: 50376.7852
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - loss: 49638.8789 - mae: 49638.8789 - val_loss: 50373.8203 - val_mae: 50373.8203
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 17ms/step - loss: 49139.7266 - mae: 49139.7266 - val_loss: 50362.5547 - val_mae: 50362.5547
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 49078.5156 - mae: 49078.5156 - val_loss: 50375.6211 - val_mae: 50375.6211
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 8s 33ms/step - loss: 48968.4141 - mae: 48968.4141 - val_loss: 50370.1289 - val_mae: 50370.1289
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 15ms/step - loss: 49775.3789 - mae: 49775.3789 - val_loss: 50364.4609 - val_mae: 50364.4609

In [20]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 51142.1641 - mae: 51142.1641
Test MAE : 50359.90625

In [21]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [27]:
#Load tensotBoard Extension
%load_ext tensorboard

In [29]:
%tensorboard --logdir logs/fit/20250713-004511